/* Prevents shit from overflowing */
img, embed, object, video, canvas {
    max-width: 100%;
    height: auto;
}

/* Prefered size for fingers */
nav a, button {
    min-height: 48px;
    min-width: 48px;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

hr {
    margin-right: 25%;
    margin-left: 25%;
    opacity: 0.5;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 1.25em;
}

#About {
    background-color: #2B3D4F;
    height: 90%;
    padding-bottom: 40px;
}

#Skills {
    background-color: #336E7B;
    padding-bottom: 40px;
}

.skills-logo {
    max-width: 400px;
}

#Work {
    background-color: #336E7B;
    padding-bottom: 40px;
}

img {
    padding: 10px;
}

image-header {
    position: relative;
    height: 100%;
}

#Footer {
    background-color: #2B3D4F;
    padding-bottom: 1%;
}

h4 {
    margin-bottom: 5px;
}

.fa {
    color: white;
    padding: 5px;
    font-size: 7mm;
}

.fa-linkedin:hover {
    color: skyblue;
}

.fa-twitter:hover {
    color: cyan;
}

.fa-quora:hover {
    color: red;
}

.fa-github:hover {
    color: black;
}