/* Prevents shit from overflowing */
img, embed, object, video, canvas {
    max-width: 100%;
    height: auto;
}

/* Prefered size for fingers */
nav a, button {
    min-height: 48px;
    min-width: 48px;
}

body {
    background-color: #336E7B;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
}

hr {
    margin-right: 25%;
    margin-left: 25%;
    opacity: 0.5;
    margin-bottom: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 1.25em;
}

#About {
    background-color: #2B3D4F;
    height: 90%;
    padding-bottom: 40px;
}

.about-img {
    width: 50%;
    max-width: 250px;
}

#Skills {
    background-color: #336E7B;
    padding-bottom: 40px;
}

.skills-header {
    margin-bottom: 40px;
}

.skills-logo {
    max-width: 400px;
    width: 206px;
}

#Work {
    background-color: #336E7B;
    padding-bottom: 40px;
}

#Contact {
    padding-bottom: 40px;
    background-color: #336E7B;
}

#Education {
    padding-bottom: 40px;
    background-color: #336E7B;
}

img {
    padding: 10px;
}

image-header {
    position: relative;
    height: 100%;
}

#Footer {
    background-color: #2B3D4F;
    padding-bottom: 1%;
    padding-top: 1%;
}

h4 {
    margin-bottom: 5px;
}

.fa {
    color: white;
    padding: 5px;
    font-size: 7mm;
}

.fa-linkedin:hover {
    color: skyblue;
}

.fa-twitter:hover {
    color: cyan;
}

.fa-quora:hover {
    color: red;
}

.fa-github:hover {
    color: black;
}

.fa-envelope:hover {
    color: dodgerblue;
}

/**
 * Flexbox
 */

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flexbox.pull-horz-center {
  justify-content: center;
  align-content: flex-start;
}
.flexbox.pull-vert-center {
  justify-content: flex-start;
  align-content: center;
}
.flexbox>* {
  margin: 0 10px 10px 10px;
}
.flexbox.grid>* {
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
}

@media only screen and (max-width: 720px) {
    .skills-logo {
        max-width: 200px;
        padding: 0 0 20px;
    }
    .flexbox {
        flex-direction: column;
    }
}

